@import "@assets/styles/variables";

.Signup {
  background: $tint-orange;
  display: flex;
  justify-content: center;
  $margin-top: 4rem;
  min-height: 100vh;

  .signup_container {
    margin-top: $margin-top;
    margin-bottom: 7rem;
    background: rgb(253, 253, 253);
    padding: 4rem;
    border-radius: 1rem;
    position: relative;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.05);

    .stamp {
      position: absolute;
      top: 2rem;
      right: 2rem;
      width: 7rem;
      height: 7rem;
      background: $tint-orange;
    }

    h1 {
      font-size: 2.4rem;
      margin-bottom: 0.5rem;
      font-family: "Marko One", serif;
    }

    .sub_util {
      font-size: 1.3rem;
      margin-bottom: 3rem;
      color: $neutral-500;

      span {
        text-decoration: underline;
      }
    }

    .form_container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 2rem;
      margin-bottom: 4rem;

      .input_container {
        display: flex;
        flex-direction: column;
        gap: 1rem;
        font-size: 1.4rem;

        input {
          background: unset;
          border: 2px solid $neutral-500;
          outline: none;
          width: 50rem;
          border-radius: 0.6rem;
          padding: 0.7rem 1rem;
        }
      }
    }

    .subscribe {
      font-size: 1.2rem;
      display: flex;
      align-items: flex-start;
      gap: 1rem;

      input {
        width: 1.8rem;
        cursor: pointer;
        transform: translateY(0.2rem);
      }
    }

    .signup_btn {
      background: $neutral-600;
      color: $neutral-000;
      padding: 0.6rem 7rem;
      border-radius: 0.6rem;
      font-size: 1.6rem;
      cursor: pointer;
      width: max-content;
      margin-left: auto;
      margin-right: auto;

      &:hover {
        background: black;
      }
    }

    .file_upload {
      margin-top: 2rem;
      margin-left: auto;
      margin-right: auto;

      .drop_area {
        width: 34rem;
        padding: 20px;
        height: 30rem;
        border: 2px dashed;
        margin-bottom: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        place-items: center;

        span {
          margin: 15px 0px;
          color: gray;
          letter-spacing: 2px;
          font-size: 1.2rem;
        }

        .browse_btn {
          padding: 5px 15px;
          background: black;
          color: white;
          border-radius: 5px;
          cursor: pointer;
          width: max-content;
          font-size: 1.2rem;
        }

        &.active {
          background: rgb(204, 204, 204);
          border: 2px solid black;
        }
      }

      .image_preview {
        width: 34rem;
        height: 30rem;
        margin-bottom: 1rem;

        img {
          width: 100%;
          height: 100%;
          border-radius: 0.6rem;
          object-fit: cover;
        }
      }
    }
  }
}
