@import "@assets/styles/variables";

.Modal {
  position: fixed;
  z-index: 500;
  background-color: white;
  max-height: calc(100% - 40px);
  box-shadow: 0px 12px 16px rgba(0, 0, 0, 0.1);
  padding: 3rem 2.6rem;
  left: 50%;
  top: calc(50%);
  border-radius: 6px;
  box-sizing: border-box;
  transform: translate(-50%, -50%);
  overflow-y: auto;

  &::-webkit-scrollbar {
    width: 7px;
    height: 10px;
  }

  &::-webkit-scrollbar-thumb {
    // background: $neutral-light-300;
    background: rgb(190, 190, 190);
  }

  &::-webkit-scrollbar-track {
    background: rgb(233, 231, 231);
  }

  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translate(-50%, -75%);
    }

    100% {
      opacity: 1;
      transform: translate(-50%, -50%);
    }
  }

  @keyframes fadeOut {
    0% {
      opacity: 1;
      transform: translate(-50%, -50%);
    }

    100% {
      opacity: 0;
      transform: translate(-50%, -75%);
    }
  }

  @media screen and (max-width: $break-point-mobile) {
    @keyframes fadeIn {
      0% {
        opacity: 0;
        transform: translateY(0);
      }

      100% {
        opacity: 1;
        transform: translateY(-100%);
      }
    }

    @keyframes fadeOut {
      0% {
        opacity: 1;
        transform: translateY(-75%);
      }

      100% {
        opacity: 0;
        transform: translateY(-10%);
      }
    }
  }
}

.UploadPreview {
  height: 78rem;
}

.VideoPreview {
  padding: 0;
  height: 70vh;
  width: 70vw;
}

@media (max-width: $break-point-mobile) {
  .Modal {
    min-width: 100%;
    max-width: 100%;
    top: 100%;
    left: 0;
    transform: translate(0, -100%);
    border-radius: 0;
    border-top-left-radius: 6px;
    border-top-right-radius: 6px;
    padding: 23px 17px;
  }

  .VideoPreview {
    top: 50%;
    padding: 0;
    height: 30vh;
    width: 30vw;
  }
}
