@import "@assets/styles/variables";

.file_upload {
  margin-top: 2rem;

  h3 {
    font-size: 1.2rem;
    font-weight: 600;
    margin-bottom: 1rem;
  }

  .drop_area {
    width: 34rem;
    padding: 20px;
    height: 14rem;
    border: 2px dashed;
    margin-bottom: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    span {
      margin: 10px 0px;
      color: gray;
      letter-spacing: 2px;
      font-size: 1.2rem;
    }

    .browse_btn {
      padding: 5px 15px;
      background: black;
      color: white;
      border-radius: 5px;
      cursor: pointer;
      width: max-content;
      font-size: 1.2rem;
    }

    &.active {
      background: rgb(204, 204, 204);
      border: 2px solid black;
    }
  }

  .image_preview {
    width: 34rem;
    height: 20rem;
    margin-bottom: 1rem;

    img {
      width: 100%;
      height: 100%;
      border-radius: 0.6rem;
      object-fit: cover;
    }
  }
}
