@import "@assets/styles/variables";

.Backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(#fff, 0.3);
  backdrop-filter: blur(3px);
  z-index: 100;

  @media screen and (max-width: $break-point-tab) {
    top: $navbar-height-sm;
  }
}
